<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/main.css') }}" type="text/css" rel="stylesheet">
    <title>Zpenr messenger</title>
</head>
<body>
    <div class="app-container">
        {% block chat1 %}{% endblock %}
        {% block chat2 %}{% endblock %}
        {% block form %}{% endblock %}
        {% block users %}{% endblock %}
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</body>
</html>